body{
    background-color: #eceff3;
}

.quadrado{
    background-color: #e8d399;
    height: 2px;
    width: 1000;
    position: relative;
    top: 110px;
}

.logo{
    width: 100px;
    position: absolute;
    left: 100px;
    top: 15px;
}

.wallace-profile{
    width: 500px;
    position: absolute;
    left: 100px;
    top: 120px;
}

.txt-menu{

    position: relative;
    top: 53px;
    left: 1000px;
    color: #e8d399;
    margin: 20px;
    text-shadow: black 0.05em 0.05em 0.05em;
    
}
.txt-menu:hover{


    color: #79641d;
    transition: 2;
    opacity: 0,7;
    
}
